---
sort: 3
---

# 3단계 Notice & Verification

1. [x] SW 개발 부서와 OSC 담당팀은 Open Source 분석 결과를 기준으로 공개할 Source Code를 취합하여 OSS Package\(공개할 Source Code\)를 생성합니다. 
2. [x] OSPO는 OSS Package를 확인하고 OSS 고지문을 발급합니다. 
3. [x] SW 개발부서와 OSC 담당팀은 배포하는 Software에 대해 OSS 고지 의무를 준수합니다.

